body{
  /* background-color: rgb(178, 219, 247); */
  background-color: #aabbcc;

}
.card{
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  border-radius: 9px;
  padding: 15px;
}
img{
  margin:0;
  width: 100%;
  border-radius: 9px;
}
.card-body{
  width: 90%;
  text-align: center;
  color: #000001;
}
h2{
  font-size: 20px;
}